In [1]:
# reverse sequence of Given list
alist=[100,200,300,400,500]
alist[::-1]

[500, 400, 300, 200, 100]

In [2]:
# Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"] 
result=[i+j for i , j in zip(list1,list2)]
print(str(result))

['My', 'name', 'is', 'Kelly']

In [3]:
# Given a Python list. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]
squared_list=[i**2 for i in aList ]
squared_list

[1, 4, 9, 16, 25, 36, 49]

In [4]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result=[i+j for i in list1 for j in list2]
result

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [5]:
#Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x ,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [6]:
# Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result=list(filter(None,list1))
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']

In [7]:
# Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
# Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]    
sub_list=["h", "i", "j"]
list1[2][1][2].append(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [12]:
# Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
index=list1.index(20)
list1[index]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [13]:
# Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]